@page "/volenteerOwnPage"
@using GucciFestival.Client.Services
@using GucciFestival.Shared.Models
@inject NavigationManager NavManager
@using GucciFestival.Shared.VolenteerPages;
<h3>Frivlliges Navn: </h3>
<button @onclick=NavigateToSideProfil>Profil</button>
<button @onclick="(() => SetShiftTarget(null,VolenteerPages.ShiftsAvailable,false))">Vagter ledige</button>
<button @onclick="(() => SetShiftTarget(null,VolenteerPages.ShiftsOwn,false))">Egne vagter</button>
<button @onclick=NewNavMenu>Nav menu test</button>
@if(shifts.Count == 0){

}
else
{
    @switch (volenteerPages)
    {
        case VolenteerPages.ShiftsAvailable:
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Temp. (C)</th>
                            <th>Temp. (F)</th>
                            <th>Summary</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var forecast in shifts)
                        {
                            <tr>
                                <td>@forecast.Name</td>
                                <td>@(competences)forecast.Competence_id</td>
                                <button @onclick="(() => SetShiftTarget(forecast,VolenteerPages.ShiftRead,false))">Tag vagt</button>
                            </tr>
                        }
                    </tbody>
                </table>
            break;
        case VolenteerPages.ShiftsOwn:
                 <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Temp. (C)</th>
                            <th>Temp. (F)</th>
                            <th>Summary</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var forecast in shifts)
                        {
                            <tr>
                                <td>@forecast.Name</td>
                                <td>@(competences)forecast.Competence_id</td>
                                <button @onclick="(() => SetShiftTarget(forecast,VolenteerPages.ShiftRead,true))">Se din vagt</button>
                            </tr>
                        }
                    </tbody>
                </table>
            break;
        case VolenteerPages.ShiftRead:
            <div>
                <h4>Shift name @shiftTarget.Name</h4>

                <h3>Start dato></h3>
                <h3>@shiftTarget.Start_Date</h3>

                <h3>Slut dato</h3>
                <h3>@shiftTarget.End_Date</h3>

                <h3>Description</h3>
                <h3>@shiftTarget.Description</h3>


                @if (ownShiftFlag == false)
                {
                 <h3>Sikker på at tage vagten?</h3>      
                 <input type="checkbox" @bind=shiftTakeFlag/>
                 <button @onclick=TakeShift>Tag vagten</button>
                }



            </div>
            break;

    }
}
@code {


    /// <summary>
    /// True= ownshift, false= overallShift
    /// </summary>
    private bool ownShiftFlag;
    /// <summary>
    /// Brugt til checkboks, checke om "user"/frivllig er sikker på at tage vagten
    /// </summary>
    private bool shiftTakeFlag;


    private VolenteerPages volenteerPages;
    private bool takenFlag;

    /// <summary>
    /// Den frillige brugers her og får dataen ved hjælp af "blazored.localstorage"
    /// Den frillige localstorage ved sat ind, da den frillige loggede ind.
    /// </summary>
    private User volenteerTarget = new User();
    /// <summary>
    /// What shift is taken from the list and will be checked out.
    /// </summary>
    private Shift shiftTarget = new Shift();
    private List<Shift> shifts = new List<Shift>();
    private Competences competences;





    //Shift Information
    private EditContext editContextShiftInfo;



    private static event Action<VolenteerPages> VolenteerPagesEvent;






    [Inject]
    public IShiftService ShiftService { get; set; }
    protected override async Task OnInitializedAsync()
    {
        //Henter alle vagter der findes på pgadmin/sql databasen.
        shifts = (await ShiftService.GetAllShifts()).ToList();
        //Henter den frilliges data, der blev gemt da den frillige loggede ind.
    
    }
    protected override void OnInitialized()
    {
        if(VolenteerPagesEvent == null){  VolenteerPagesEvent += VolenteerPagesMetod;}
    }

    private void NewNavMenu()
    {
        NavMenu.ChangeSideFlag(GucciFestival.Shared.NavigateMenus.NavigateMenus.Coordinator);
    }

    private void NavigateToSideProfil()
    {
        NavManager.NavigateTo("/profil");
    }


    private void TakeShift()
    {
        if (shiftTakeFlag)
        {
            foreach (var item in shifts)
            {
                if(item.Shift_Id == shiftTarget.Shift_Id)
                {
                    item.Shift_Taken_Id = volenteerTarget.User_id;
                }
            }
            SetShiftTarget(null,VolenteerPages.ShiftsOwn, false);
        }
    }
    public static void ButtonVolenteerPage(VolenteerPages page)
    {

        VolenteerPagesEvent?.Invoke(page);
    }
    private void VolenteerPagesMetod(VolenteerPages page)
    {
        Console.WriteLine("VolenteerPagesMetod from navmenu");
        switch (volenteerPages)
        {
            case VolenteerPages.ShiftsAvailable:
                break;
        }
    }




    private void SetShiftTarget(Shift shift,VolenteerPages side,bool ownShiftFlag)
    {
        shiftTarget = shift;
        this.volenteerPages = side;
        this.ownShiftFlag = ownShiftFlag;
        Console.WriteLine("vagt info");

    }
}
